<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Mark</th>
        <th>Place</th>
    </tr>
     {% for i in data %}
    <tr>

        <td>{{i.name}}</td>
        <td>{{i.mark}}</td>
        <td>{{i.place}}</td>
<td>
<a href="{% url 'studupdates' i.id %}"> <button type="button" class="btn btn-success">Edit</button></a>
</td> </tr>
            {% endfor %}
</table>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>