{% extends 'admintemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Slots</h5>
            {% if not grouped_slots %}
    <h1 class="text-center">No contents </h1>
{% else %}

    {% for date, slots in grouped_slots.items %}
       <br> <h6>Date: {{ date }}</h6><br>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>


                    <th scope="col">Start_time</th>
                    <th scope="col">End_time</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in slots %}
                    <tr>

                      <td>{{i.start_time}}</td>
                      <td>{{i.end_time}}</td>

                      <td>
                         <a href="{% url 'slot_update' i.id %}" class="btn btn-outline-dark">Edit</a>
                      <form action="{% url 'slot_delete' i.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-dark">Delete</button>
        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
