{% extends "admin_dash.html" %}
{% load crispy_forms_filters %}
{% block content %}

<table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">SI No</th>
<!--                    <th scope="col">Type</th>-->
                    <th scope="col">Name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Email</th>

                </tr>
                </thead>
                <tbody>
                {% for n in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>

                    <td>{{n.name}}</td>
                    <td>{{n.phone_number}}</td>
                    <td>{{n.email}}</td>

                 {% empty %}
                <tr>
                    <td colspan="7"><h3>No Results Found</h3></td>
                </tr>
                </tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock %}