{% extends 'theme.html' %}
{% block content %}
{% load crispy_forms_tags %}




<div class="container bg-secondary mt-4" >
  <div class="row" >
    <div class="col-md-12" >
      <h1>Todo</h1>
    </div>
    <div class="col-md-12">
<form method="POST">
{% csrf_token %}
      {{form|crispy}}
    <button type="submit" class="btn btn-dark w-100" >ADD</button>
  </form>

    </div>

    <div class="col-md-12 mt-3">
        <div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">STATUS</th>
        <th scope="col"></th>

    </tr>
  </thead>
  <tbody>

  {% for detail in stud_details %}
    <tr>

      <td>{{detail.id}}</td>
        <td>{{detail.name}}</td>
        <td>{{detail.status}}</td>
        <td>
     <a href="{% url 'stud_update' detail.id %}"><button class="btn btn-outline-dark">Edit</button></a>
      <a href="{% url 'stud_delete' detail.id %}"><button class="btn btn-outline-dark ">Delete</button></a></td>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
        </div>

    </div>
 <div class="col-md-12 mt-3">
     {{up_form}}
 </div>



  </div>

</div>




{% endblock %}